<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.gemoc.bcool.ui"
            name="GEMOC Language Coordination"
            parentCategory="org.gemoc.xdsmlframework.category">
      </category>
      <wizard
            category="org.gemoc.xdsmlframework.category/org.gemoc.bcool.ui"
            class="org.gemoc.bcool.ui.wizards.BCOoLFileNewWizard"
            icon="icons/bcoolicon.ico"
            id="org.gemoc.bcool.ui.wizards.BCOoLFileNewWizard"
            name="BCOoL File">
      </wizard>
      <wizard
            category="org.gemoc.xdsmlframework.category/org.gemoc.bcool.ui"
            class="org.gemoc.bcool.ui.wizards.BCOoLLibFileNewWizard"
            icon="icons/bcoolicon.ico"
            id="org.gemoc.bcool.ui.wizards.BCOoLLibFileNewWizard"
            name="BCOoLLib File">
      </wizard>
   </extension>

</plugin>
