<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2015, 2017  I3S Laboratory  and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        I3S Laboratory - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bcool -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.gemoc.bcool.model.bcool.presentation.BcoolModelWizardID"
            name="%_UI_BcoolModelWizard_label"
            class="org.eclipse.gemoc.bcool.model.bcool.presentation.BcoolModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BcoolModelFile.gif">
         <description>%_UI_BcoolModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bcool -->
      <editor
            id="org.eclipse.gemoc.bcool.model.bcool.presentation.BcoolEditorID"
            name="%_UI_BcoolEditor_label"
            icon="icons/full/obj16/BcoolModelFile.gif"
            extensions="bcool"
            class="org.eclipse.gemoc.bcool.model.bcool.presentation.BcoolEditor"
            contributorClass="org.eclipse.gemoc.bcool.model.bcool.presentation.BcoolActionBarContributor">
      </editor>
   </extension>

</plugin>
