<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
			adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*"
			id="org.gemoc.bcool.transformation.qvto2ccsl.ui.popupMenus.contribution.IFile">
         <menu
               icon="icons/IconeGemocLanguage-16.png"
               id="org.eclipse.acceleo.module.menu"
               label="GEMOC coordination"
               path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.gemoc.bcool.transformation.qvto2ccsl.ui.popup.actions.Qvto2CCSLTranslator"
               enablesFor="multiple"
               icon="icons/plus-16.png"
               id="org.gemoc.bcool.transformation.qvto2ccsl.ui.newAction"
               label="create CCSL coordination model"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo">
         </action>
      </objectContribution>
   </extension>

</plugin>
	